<!DOCTYPE html>
<html>
<head>
  <title>NapInn</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://widget.cloudinary.com/global/all.js"></script>
  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
     cloud_name: "<%=ENV['CLOUD_NAME']%>",
     upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
   };
  </script>
</head>
<body>

  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '819542408179833',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiif1YTAAB9I5na_z7JY-bYE6MPYCYTTE&libraries=places">
  </script>

<%= yield %>

</body>
</html>
